@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url("CenturyGothic-Bold.eot") format("embedded-opentype"), url("CenturyGothic-Bold.woff") format("woff"), url("CenturyGothic-Bold.ttf") format("truetype"), url("CenturyGothic-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CenturyGothicRegular";
    src: url("CenturyGothicRegular.eot");
    src: url("CenturyGothicRegular.eot") format("embedded-opentype"), url("CenturyGothicRegular.woff") format("woff"), url("CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    font-family: CenturyGothicRegular, sans-serif;
    height: 100%;
}

.short-desc {
    font-size: 16px;
    color: #707070;
}

.active {
    color: #003f99;
}

header a {
    font-size: 16px;
    font-family: "CenturyGothic-Bold";
}

header [itemprop="telephone"] {
    color: #707070;
}

header .pull-right p {
    font-size: 16px;
    color: #212121;
    margin: 5px 0;
}

header .callback {
    background: #e31e24 none repeat scroll 0 0;
    border: 1px solid #cccccc;
    color: #ffffff;
    padding: 6px 10px;
    text-decoration: none;
}

header .callback:hover {
    background: #c30004 none repeat scroll 0 0;
    text-decoration: none;
    color: #ffffff;
}

.navbar-nav {
    height: 60px;
    position: relative;
    font-size: 16px;
}

.navbar-nav>li {
    height: 100%;
    background: none !important;
}

.navbar-nav>li>a {
    padding-top: 19px;
    height: 100%;
    color: #212121;
}

.navbar-default .navbar-nav>.active>a {
    color: #003f99;
    background: none;
}

.navbar-nav li+li:after,
.navbar-nav li:first-child:after {
    background: #CDCDCD;
    width: 2px;
    height: 44px;
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    top: 8px;
    margin-top: 0px;
}

.navbar-nav li:last-child:after {
    background: none;
}

ul.navbar-nav li ul li+li:after,
ul.navbar-nav li ul li:first-child:after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

ul.navbar-nav li ul {
    background: #ffffff none repeat scroll 0 0;
    list-style: outside none none;
    margin: 10px 0 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    z-index: 100;
}

ul.navbar-nav li:hover ul {
    margin: 0;
    opacity: 1;
    padding: 0;
    visibility: visible;
    z-index: 1000;
}

ul.navbar-nav li ul li {}

ul.navbar-nav li ul li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #777777;
    display: block;
    min-width: 300px;
    padding: 2px 10px 6px;
    position: relative;
}

ul.navbar-nav li ul li a:hover {
    color: #000000;
    text-decoration: none;
}

.rub {
    display: inline-block;
    font-size: 48px;
    line-height: 16px;
    border-bottom: 4px solid white;
    width: 0.4em;
}

.banners h1 {
    font-size: 48px;
    font-family: "CenturyGothic-Bold";
    color: white;
    padding: 10px 0px;
}

.banners .col-xs-4 p {
    color: white;
    font-size: 16px;
}

.banners .row {
    margin-top: 20px;
}

button.callback,
input[type="submit"].callback {
    background: #e2141b;
    border: none;
    color: white;
    font-size: 18px;
    padding: 13px 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

h2 {
    font-size: 30px;
    font-family: "CenturyGothic-Bold";
    color: #636363;
}

.preim ul {
    padding-left: 30px;
}

.preim li {
    font-family: "CenturyGothic-Bold";
    font-size: 19px;
    color: #6c6a6a;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.modal.fade .modal-dialog {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-content: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}

.response_form {
    background: #2C415E;
    padding: 10px;
    height: 320px;
    width: 78%;
    margin: 0 auto 30px auto;
}

.response_form .col-md-6 {
    margin-top: 30px;
}

.response_form input,
.response_form textarea {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding-left: 5px;
}

.response_form input[type="text"] {
    display: block;
    height: 40px;
}

.response_form textarea {
    width: 360px;
    height: 90px;
}

.response_form input[type="submit"] {
    background: #E31E24;
    border: none;
    color: white;
    height: 40px;
    font-size: 17px;
}

.response_form h2,
.response_form p {
    color: white;
    text-align: center;
    font-family: "CenturyGothic-Bold";
}

.response_form p {
    font-size: 18px;
}

.response_form textarea {
    width: 400px;
}

.arrows {
    background: #DDDDDD;
    width: 100%;
    height: 145px;
    color: black;
    font-size: 18px;
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-content: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    margin-top: 30px;
    font-family: "CenturyGothic-Bold";
    text-transform: uppercase;
}

.arrows:after {
    width: 0;
    content: '';
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 40px solid #DDDDDD;
    position: absolute;
    margin-top: 72px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.preim h2 {
    margin-top: 230px;
    position: absolute;
}

.preim h2:after {
    content: '';
    background: url("arrows.png");
    width: 148px;
    height: 84px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 50px auto 0px auto;
}

.block2 h2 {
    color: white;
}

.block2 p {
    color: white;
    font-size: 16px;
}

.block2 .col-xs-6 {
    padding-top: 20px;
}

.block2 .container {
    padding-top: 70px;
}

.diagnistika h2 {
    color: #2b415f;
    font-size: 36px;
}

.diagnistika h2 span {
    font-size: 30px !important;
}

.diagnistika hr {
    background-color: #e2141b;
    display: block;
    width: 129px;
    height: 2px;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
}

.unique {
    display: block;
    font-family: "CenturyGothic-Bold";
    color: #707070;
    font-size: 30px;
}

.view_all_response {
    display: block;
    color: white;
    text-decoration: underline;
    margin-right: 70px;
    margin-top: 20px;
}

.container {
    max-width: 1170px;
}

.preim {
    margin-top: 50px;
}

.search .button {
    width: 48px;
    height: 44px;
    border-radius: 0px;
    padding: 0px;
}

.form-validate .control-label label {
    display: block !important;
}

.mpage {
    /* The image used */
    background-image: url("main_banner.jpg");
    padding-top: 30px !important;
    height: 545px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_banner {
    margin-top: 114px;
    padding-top: 15px;
}

@media (max-width: 767px) {
    .main_banner {
        margin-top: 0;
    }
}

[itemprop="articleBody"] {
    padding-bottom: 30px;
}

.item-page h1,
.page-header h1 {
    font-size: 26px;
    color: #E31E24;
    text-align: center;
    font-family: "CenturyGothic-Bold";
}

.page-header {
    margin: 0px;
    border-bottom: 0px solid #eee;
}

.breadcrumb li:nth-child(2):before {
    display: none;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
}

.main_banner .collapse .form-control {
    width: 270px;
    border: 1px solid #AAA6A6;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0px;
    height: 42px;
    padding: 6px 12px;
    margin-right: -27px;
}

.sprite_icon,
.preim span {
    background-image: url("sprite_main.png");
    background-repeat: no-repeat;
    display: block;
}

.preim span {
    float: left;
    margin-right: 15px;
}

.preim .icon1 span {
    width: 31px;
    height: 49px;
    background-position: -5px 7px;
}

.preim .icon2 span {
    width: 32px;
    height: 43px;
    background-position: -44px 7px;
}

.preim .icon3 span {
    width: 33px;
    height: 27px;
    background-position: -79px -5px;
}

.preim .icon4 span {
    width: 33px;
    height: 30px;
    background-position: -115px -2px;
}

.preim .icon5 span {
    width: 33px;
    height: 37px;
    background-position: -147px -5px;
}

.preim .icon6 span {
    width: 30px;
    height: 43px;
    background-position: -182px 7px;
}

.kamaz {
    width: 44px;
    height: 60px;
    background-position: -222px -5px;
    margin: 0 auto;
}

.prof {
    width: 36px;
    height: 60px;
    background-position: -276px -5px;
    margin: 0 auto;
}

.garant {
    width: 35px;
    height: 60px;
    background-position: -322px -5px;
    margin: 0 auto;
}

.banners .col-xs-4:first-child:after {
    display: none;
}

.banners .col-xs-4:after {
    content: '';
    background: white;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    position: absolute;
    top: 37%;
}

.hyundai {
    max-width: 700px;
    position: absolute;
}

.preimyzhestva {
    height: 785px;
}

.preimyzhestva .container {
    height: 100%;
}

.block2 {
    background-image: url("car2.jpg");
    padding-top: 30px;
    height: 590px;
    margin-top: 150px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block3 {
    background-image: url("bg3.jpg");
    padding-top: 30px;
    height: 1170px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services .block3 {
    background: none;
    height: auto;
}

.services .block3 .col-xs-3 {
    width: 267px;
    margin-right: 12px;
    margin-left: 12px;
}

.prev_zapis {
    color: #E31E24;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.services .block3 .col-xs-3 p {
    font-family: CenturyGothicRegular, sans-serif;
}

#skidka {
    float: right;
}

.prices table {
    width: 100%;
}

.prices table td {
    font-size: 16px;
}

.item-page .tab td,
.services table td {
    font-size: 14px !important;
}

.item-page table {
    width: 100%;
}

#kat {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
}

.block3 .row {
    padding-top: 30px;
}

.block3 .col-xs-3 {
    border-style: solid;
    border-width: 1px;
    border-color: #2b415f;
    border-radius: 10px;
    background: white;
    width: 272px;
    height: 307px;
    position: relative;
    margin-right: 27px;
}

.block3 .col-xs-3:nth-child(4),
.block3 .row:nth-child(2) a:nth-child(4) .col-xs-3,
.block3 .row:nth-child(3) a:nth-child(2) .col-xs-3 {
    margin-right: 0px;
}

.block3 .row:last-child {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}

.block3 .col-xs-3 p {
    position: absolute;
    bottom: 30px;
    width: 235px;
    text-align: center;
    font-size: 18px;
    height: 70px;
    color: #363636;
}

.icon-cent {
    background-image: url("how_icon.png");
    background-repeat: no-repeat;
    display: block;
    position: relative;
    margin: 30px auto 0 auto;
}

.icon-cent-how1 {
    width: 78px;
    height: 121px;
    background-position: -5px -5px;
}

.icon-cent-how10 {
    width: 167px;
    height: 121px;
    background-position: -93px -5px;
}

.icon-cent-how2 {
    width: 104px;
    height: 146px;
    background-position: -270px -5px;
}

.icon-cent-how3 {
    width: 155px;
    height: 24px;
    background-position: -384px -5px;
    margin-top: 75px;
}

.icon-cent-how4 {
    width: 94px;
    height: 115px;
    background-position: -549px -5px;
}

.icon-cent-how5 {
    width: 90px;
    height: 48px;
    background-position: -653px -5px;
    margin-top: 75px;
}

.icon-cent-how6 {
    width: 109px;
    height: 137px;
    background-position: -753px -5px;
}

.icon-cent-how7 {
    width: 139px;
    height: 107px;
    background-position: -872px -5px;
}

.icon-cent-how8 {
    width: 128px;
    height: 20px;
    background-position: -1021px -5px;
    margin-top: 75px;
}

.icon-cent-how9 {
    width: 127px;
    height: 108px;
    background-position: -1159px -5px;
}

.part_car img {
    filter: url("b59c09320e2913c9d43d74851977d8ba83821a3e.svg");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.part_car img:hover {
    filter: url("d9c214689340915379437b291682dbc6ac4d1fc4.svg");
    -webkit-filter: grayscale(0%);
}

.test_one {
    background: rgba(255, 255, 255, 0.83);
    padding: 61px 60px;
    position: relative;
    height: 310px;
    border-radius: 5px;
}

.test_one img {
    float: left;
    margin-right: 60px;
    /*-webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;*/
}

.testim_txt {
    color: black;
    font-size: 18px;
    width: 700px;
    float: right;
}

.comp_name {
    float: right;
    margin-right: 30px;
    font-family: "CenturyGothic-Bold";
    font-size: 18px;
    color: black;
    text-align: right;
    width: 500px;
}

.block3 .col-xs-3:hover {
    background: #2b415f;
}

.block3 .col-xs-3:hover p {
    color: white;
}

.block3 .col-xs-3:hover .icon-cent {
    background-image: url("how_icon_active.png");
}

.testim_car.owl-carousel .owl-item img {
    width: auto;
}

.testim_hp {
    background-image: url("bg_resp.jpg");
    padding-top: 30px;
    height: 535px;
    margin-top: 70px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testim_hp h2 {
    color: #fff;
    font-size: 30px;
    margin: 30px 0 30px;
    text-align: center;
}

.testim_car_wrap {
    width: 1000px;
    margin: 0 auto;
}

footer {
    background: url("bg_footer.jpg") center;
    width: 100%;
    height: 400px;
}

.sert {
    display: inline-flex;
    margin-top: 160px;
    margin-left: -140px;
}

.sert img {
    margin-right: 10px;
}

.sert img:last-child {
    margin-right: 0px;
}

header {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 6px 0 #000000;
    padding-top: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.collapse form input[type="submit"] {
    background: url("searchButton.gif");
    width: 48px;
    height: 44px;
    border-radius: 0px;
}

.banners {
    width: 75%;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.45);
    margin: 30px auto;
    display: block;
}

.preim {
    border-left: 2px solid #626262;
    float: right;
    padding-left: 0px;
    padding-right: 0px;
    width: 45.667%;
}

.diagnistika {
    padding-top: 50px;
    background: #F2F2F2;
    padding-bottom: 50px;
}

.f_diag {
    border-radius: 10px;
    box-shadow: 0px 13px 29px 0px rgba(0, 0, 0, 0.2);
    background: #2B415F;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    margin: 0 auto;
    padding: 50px 30px;
}

.f_diag input {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 340px;
    height: 49px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input[type="text"] {
    padding-left: 5px;
    color: gray;
}

.f_diag p {
    font-size: 24px;
    font-family: "CenturyGothic-Bold";
    color: white;
}

.f_diag h3 {
    font-size: 18px;
    color: white;
    margin: 0 auto;
}

.owl-carousel .owl-stage {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-content: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}

.part_car .owl-prev {
    display: block;
    position: absolute;
    top: 30%;
    left: -40px;
    margin-left: 3px;
    width: 18px;
    height: 39px;
    cursor: pointer;
    background: transparent url("arr_l.png") no-repeat center;
}

.part_car .owl-next {
    display: block;
    position: absolute;
    top: 30%;
    right: -40px;
    margin-left: 3px;
    width: 18px;
    height: 39px;
    cursor: pointer;
    background: transparent url("arr_r.png") no-repeat center;
}

.testim_car .owl-prev {
    display: block;
    position: absolute;
    top: 37%;
    left: -70px;
    margin-left: 3px;
    width: 39px;
    height: 74px;
    cursor: pointer;
    background: transparent url("arr_l2.png") no-repeat center;
}

.testim_car .owl-next {
    display: block;
    position: absolute;
    top: 37%;
    right: -70px;
    margin-left: 3px;
    width: 39px;
    height: 74px;
    cursor: pointer;
    background: transparent url("arr_r2.png") no-repeat center;
}

.part_hp {
    padding-top: 50px;
}

.part_hp h2 {
    padding-bottom: 20px;
}

.f_left {
    padding: 60px 185px 0px 45px;
}

.f_address {
    padding-top: 20px;
}

.f_address .f_phone {
    font-size: 16px;
    font-family: "CenturyGothic-Bold";
    color: #707070;
}

.f_address p {
    font-size: 16px;
    color: #212121;
    margin: 5px 0;
}

.f_address .callback {
    background: #e31e24 none repeat scroll 0 0;
    border: 1px solid #cccccc;
    color: #ffffff;
    padding: 6px 10px;
    text-decoration: none;
}

.f_address .callback:hover {
    background: #c30004 none repeat scroll 0 0;
    text-decoration: none;
    color: #ffffff;
}

.f_left p {
    color: #2b415f;
}

.modal-content {
    color: white;
    background-color: rgba(43, 65, 95, 0.9);
}

.close {
    color: #ffffff;
}

.modal-content .modal-body input[type=submit] {
    background-color: #ffffff;
    color: #2B415F;
}

.shinomontazh_table tr:hover {
    background: #f3bd48;
    color: #000000;
}

.uslugi_table,
.uslugi_table th {
    border: 2px solid #2B415F;
}

.item-page p,
.item-page span,
.item-page table,
.item-page li,
.item-page ul,
.item-page ol,
.item-page td {
    font-family: Arial;
}

.item-page .testim_txt {
    font-family: CenturyGothicRegular, sans-serif;
}

.item-page .comp_name {
    font-family: "CenturyGothic-Bold";
}

.uslugi_table td {
    border: 1px solid #2B415F;
}

.uslugi_table th,
td {
    text-align: center;
    padding: 5px;
}

.uslugi_table th {
    color: #2B415F;
    font-weight: bold;
}

.test_one .otzyv_image {
    width: 120px;
    height: 120px;
    display: inline-block;
    float: left;
}

@media screen and (max-width:600px) {
    header {
        padding-top: 30px;
        box-shadow: 0px 1px 6px 0px black;
        position: relative;
        padding-bottom: 30px;
    }
    .response_form {
        height: auto;
    }
    .response_form input,
    .response_form textarea {
        width: 100%;
    }
    .response_form h2 {
        font-size: 20px;
    }
    header .col-xs-4 {
        text-align: center;
    }
    .navbar-nav {
        height: 100%;
    }
    .form-group {
        float: left;
        width: 80%;
    }
    .banners {
        width: 100%;
        height: 100%;
    }
    .banners .col-xs-4:after {
        display: none;
    }
    .banners h1 {
        font-size: 40px;
    }
    .mpage {
        min-height: 900px;
        height: 100%;
    }
    .f_diag form,
    .f_diag form input {
        width: 100%;
    }
    .testim_hp {
        height: 270px;
    }
    .testim_car_wrap {
        display: none;
    }
    footer {
        width: 100%;
        background: none !important;
        height: 100%;
        padding-top: 50px;
        text-align: center;
    }
    .f_left {
        padding: 0px;
    }
    .sert {
        margin: 0;
        padding: 0px;
        display: block;
    }
    .view_all_response {
        text-align: center;
        float: none !important;
        margin: 0;
    }
    .services .block3 .col-xs-3 {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    .testim_txt {
        width: 100%;
        float: none;
    }
    .test_one img {
        float: none;
        margin-right: 0px;
    }
    .test_one,
    .comp_name {
        height: 100%;
        text-align: center;
        width: 100%;
        background: none;
        padding: 0px;
        float: none;
    }
    .hyundai {
        position: relative;
        width: 100%;
    }
    .preimyzhestva {
        width: 100%;
        height: 100%;
        margin-top: 55px;
    }
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-8,
    .preim {
        width: 100%;
    }
    .preim {
        border: none;
        margin-top: 0px;
    }
    .arrows {
        text-align: center;
        margin-bottom: 30px;
        position: relative;
    }
    .preim h2 {
        display: none;
    }
    .block2 {
        height: 100%;
        padding-bottom: 30px;
        margin-top: 50px;
    }
    .block2 .container {
        padding-top: 15px;
    }
    .block2 .container img {
        margin: 0 auto;
        display: block;
    }
    .block2 h2 {
        font-size: 25px;
    }
    .block3 .col-xs-3 {
        width: 100%;
        height: 307px;
        text-align: center;
        margin: 10px auto;
        position: relative;
        display: block;
    }
    .icon-cent {
        margin-bottom: 30px;
    }
    .block3 {
        padding-bottom: 30px;
        height: 100%;
    }
    .block3 .row:last-child {
        display: block;
    }
    .diagnistika img {
        max-width: 100%;
        height: auto;
        margin: 5px auto;
    }
    .block3 .col-xs-3 p {
        position: relative;
        bottom: 0px;
        width: 100%;
    }
    .arrows:after {
        display: none;
    }
    .preim span {
        float: none;
    }
    .preim ul {
        padding-left: 0px;
        text-align: center;
    }
    .sprite_icon,
    .preim span {
        margin: 0 auto;
    }
}

.uslugi_table,
.uslugi_table td {
    border: 0;
}

.uslugi_table td {
    text-align: left;
}

.personal a {
    color: #fff;
}

.ads_image img {
    max-width: 24%;
}

.ads_price {
    font-size: 28px;
    font-weight: 600;
    color: #e31e24;
    padding: 20px 0;
}

.ads_phone {
    font-size: 25px;
}

.navbar-nav {
    font-size: 15px;
}

@media(max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .part_car .owl-next {
        right: 0px;
    }
    .part_car .owl-prev {
        left: 0px;
    }
}

@media (min-width: 768px) {
    .wb-banner {
        margin-left: 40%
    }
}

@media (max-width: 767px) {
    .wb-banner {
        margin-left: 11%;
    }
}


/*# sourceMappingURL=main.css.map */